.Profile {
  padding-bottom: 1rem;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.profile-flex {
  display: flex;
}

.profile-title {
  text-align: center;
  padding: 3rem;
}

.profile-container {
  gap: 3rem;
}

.profile-side {
  width: 100%;
}

.profile-left {
  flex: 0 0 35%;
  padding: 1rem 1rem 0 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.profile-account {
  display: flex;
  gap: 1rem;
}

.pacc-contents {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.pacc-name {
  font-size: 1.15rem;
  font-weight: 600;
  text-transform: uppercase;
}

.pacc-email {
  font-size: 0.9rem;
  color: rgba(38, 37, 37, 0.818);
}

.pacc-logo {
  text-transform: uppercase;
  padding: 0.5rem;
  background: black;
  color: white;
  font-size: 1.25rem;
  font-weight: 1000;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.pacc-contents button {
  border: none;
  background: transparent;
  text-decoration: underline;
  align-self: flex-start;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
}

.profile-right {
  align-items: center;
  flex: 65%;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem 0 1rem;
}

.profile-right-title {
  font-size: 1.5rem;
  font-weight: 600;
  align-self: flex-start;
}

.user-order-section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
}

.user-order-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}

.user-order-card {
  background: #f4f4f4;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.user-order-card-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(165, 151, 151, 0.441);
}

.user-order-card-top-left {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.user-order-card-top-left p,
.user-order-product-desc-quantity p {
  font-size: 0.9rem;
  color: #191818;
}

.user-order-card-mid {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(165, 151, 151, 0.441);
}

.user-order-card-product {
  width: 100%;
  display: flex;
  gap: 2rem;
}

.user-order-card-product-body {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.user-order-card-product-title {
  flex: 1;
  overflow: hidden;
  word-wrap: break-word;
  white-space: no-wrap;
  text-overflow: ellipsis;
  max-width: 80%;
}

.user-order-product-desc {
  flex: 0 1 auto;
  text-align: center;
  max-width: 30%;
}

.user-order-card-bottom {
  display: flex;
  justify-content: space-between;
}

.user-order-pagination {
  width: 100%;
  align-self: center;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.user-order-pagination button {
  cursor: pointer;
  outline: none;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

@media (max-width: 770px) {
  .Profile {
    padding: 0rem;
  }

  .profile-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    padding: 0 0.5rem 1rem 0.5rem;
    width: 100%;
  }

  .profile-left {
    padding: 1rem 1rem 1rem 0.5rem;
  }

  .profile-title {
    align-self: flex-start;
    padding: 3rem;
  }

  .profile-right {
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
  }

  .user-order-container {
    padding: 0.25rem;
  }

  .user-order-card-product {
    gap: 0.5rem;
  }

  .user-order-card-img {
    width: 2.5rem;
    height: 2.5rem;
  }

  .user-order-card-product-body {
    gap: 0.5rem;
    flex-shrink: 1;
    flex-grow: 0;
  }

  .user-order-card-product-title {
    flex: 1 1 auto;
  }

  .user-order-product-desc {
    flex: 0 1 auto;
  }
}
