.main {
  width: 25rem;
  height: 500px;
  background: red;
  overflow: hidden;
  background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38")
    no-repeat center/ cover;
  border-radius: 1rem;
}

#chk {
  display: none;
}

.signup {
  position: relative;
  width: 100%;
  height: 100%;
}

label {
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  margin: 60px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.auth-input {
  width: 80%;
  height: 20px;
  background: #f4f4f5;
  justify-content: center;
  display: flex;
  margin: 20px auto;
  padding: 1rem 1rem;
  border: none;
  outline: none;
  border-radius: 5px;
  box-sizing: border-box;
}

.auth-btn {
  width: 60%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #fff;
  background: black;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 5rem;
  transition: 0.2s ease-in;
  cursor: pointer;
}

.auth-btn:hover {
  background: rgba(0, 0, 0, 0.837);
}

.login {
  height: 460px;
  background: white;
  border-radius: 60% / 10%;
  transform: translateY(-180px);
  transition: 0.8s ease-in-out;
}

.password-toggle-icon {
  position: absolute;
  top: 38%;
  right: 3rem;
  transform: translateY(-50%);
  cursor: pointer;
}

.login-attribute {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1.5rem;
  text-align: center;
  margin-top: 10px;
}

.remember-me {
  display: flex;
  gap: 0.5rem;
}

#remember-me {
  cursor: pointer;
}

.forgot-password {
  color: #007bff;
  cursor: pointer;
}

.forgot-password:hover {
  text-decoration: underline;
}

.login label {
  color: black;
  transform: scale(0.6);
}

#chk:checked ~ .login {
  transform: translateY(-500px);
}

#chk:checked ~ .login label {
  transform: scale(1);
}

#chk:checked ~ .signup label {
  transform: scale(0.6);
}
